/Firmware/Tarocco.cydsn/codegentemp
/Firmware/Tarocco.cydsn/Generated_Source
/Firmware/Tarocco.cydsn/CortexM0/ARM_GCC_493/Debug/*.o
/Firmware/Tarocco.cydsn/CortexM0/ARM_GCC_493/Debug/*.lst
/Firmware/Tarocco.cydsn/CortexM0/ARM_GCC_493/Debug/BUILD.log
/Firmware/Tarocco.cydsn/CortexM0/ARM_GCC_493/Debug/LINK_options.txt
/Firmware/Tarocco.cydsn/CortexM0/ARM_GCC_493/Debug/.deps
