/Firmware/2017-04-16/Tarocco.cydsn/codegentemp
/Firmware/2017-04-16/Tarocco.cydsn/Generated_Source
/Firmware/2017-04-16/Tarocco.cydsn/CortexM0/ARM_GCC_493/Debug/*.o
/Firmware/2017-04-16/Tarocco.cydsn/CortexM0/ARM_GCC_493/Debug/*.lst
/Firmware/2017-04-16/Tarocco.cydsn/CortexM0/ARM_GCC_493/Debug/BUILD.log
/Firmware/2017-04-16/Tarocco.cydsn/CortexM0/ARM_GCC_493/Debug/LINK_options.txt


/Firmware/2017-05-24/Tarocco.cydsn/codegentemp
/Firmware/2017-05-24/Tarocco.cydsn/Generated_Source
/Firmware/2017-05-24/Tarocco.cydsn/CortexM0/ARM_GCC_493/Debug/*.o
/Firmware/2017-05-24/Tarocco.cydsn/CortexM0/ARM_GCC_493/Debug/*.lst
/Firmware/2017-05-24/Tarocco.cydsn/CortexM0/ARM_GCC_493/Debug/BUILD.log
/Firmware/2017-05-24/Tarocco.cydsn/CortexM0/ARM_GCC_493/Debug/LINK_options.txt

